body {
    margin: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: rgba(109, 65, 165, 0.50);
    background-size: cover;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}



body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

body::-webkit-scrollbar {
    width: 15px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(20, 66, 206)),
            color-stop(0.72, rgb(93, 121, 155)),
            color-stop(0.86, rgb(161, 167, 184)));
}


main {
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 110vh;
}

aside {
    display: flex;
    justify-items: start;
    align-items: center;
    width: 30vw;
    height: 100vh;
    flex-grow: inherit;
    z-index: 5;
}

aside .col1,
.col2 {
    width: 50%;
}

h1 {
    font-size: 3em;
    /* Taken from main style sheet */
    font-family: var(--common-font);
    font-weight: 600;
    color: rgb(44, 37, 78);
    margin-bottom: -20px;
}

h1 img{
    position: relative;
    top:15px;
    height: 70px;
}

footer {
    position: fixed;
    bottom: -30px;
    left: 30%;
}

nav{
    height: 0;
    width: 0;
}

.genres {
    /* width: 300px; */
    width: 100%;
    height: 150px;
    cursor: pointer;
}

.genres img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.genres a {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.vz-wrapper {
    height: 57vh;
    width: 70%;
    margin: 0 auto;
    background: -webkit-radial-gradient(circle, rgba(88, 129, 129, 0.7), rgba(47, 40, 65, 0.7));
    box-shadow: inset 0 0 200px 60px #000;
    cursor: pointer;
    border-radius: 30px;
}

.vz-wrapper.-canvas {
    position: absolute;
    top: 43%;
    left: 34%;
    transform: translate(-50%, -50%);
    height: initial;
    width: initial;
    background: transparent;
    box-shadow: none;
}

.diskTracks {
    background: rgba(31, 21, 43);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 15px;
    margin-top: -20px;
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    cursor: pointer;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: 100px;
    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}

.gray {
    filter: grayscale(50%);
    animation: grayer ease-in-out .7s;
}

.ungray {
    filter: grayscale(0%);
    animation: ungrayer ease-in-out .7s;
}

@keyframes grayer {
    0% {
        filter: grayscale(0%);
    }

    100% {
        filter: grayscale(50%);
    }
}

@keyframes ungrayer {

    0% {
        filter: grayscale(50%);
    }

    100% {
        filter: grayscale(0%);
    }
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
