/* Footer Styles */

#page-footer {
    position: fixed;
    left: 0;
    bottom: -1%;
    width: 100vw;
}

#page-footer h1 {
    position: absolute;
    top: 20%;
    left: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(39, 40, 46);
}

#page-footer h1 a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

#page-footer h1:hover a {
    color: rgb(222, 222, 230);
}

.waves {
    width: 100%;
    height: 10vh;
}

/* Wave Animation */

.ocean>use {
    animation: continous 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.ocean>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.ocean>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.ocean>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.ocean>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes continous {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}